extends layout

block content
  h1 Welcome to npmV.
  h2= _path
  if dependencies
  ul.packages
  - for (var pkg in dependencies)
    li
      a(href='/package/#{pkg}/#{_hash}') #{pkg}@#{dependencies[pkg]}
