extends layout

block content
  h1 Welcome to npmV.
  h2 #{name}@#{version}
  p= _path
  - if (typeof dependencies !== 'undefined')
    ul.packages
    - for (var pkg in dependencies)
      li
        a(href='/package/#{pkg}/#{_hash}') #{pkg}@#{dependencies[pkg]}

